.container-fluid {
    overflow: hidden;
    padding: 0px 1px;
    background: #efefef;
}
.panel-body table.k-editor {
    height: 500px;
}
h2.text-title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1460b1;
    padding-left: 15px;
}
.panel-body label {
    margin-top: 5px;
} 
.text-active {
    position: relative;
    top: -13px;
    margin-right: 15px;
}
#template img {
    margin: 5px 20px 0 0;
    float: left;
}
.toCurrency {
    color:#dd0404;
    font-weight:bold;
}
#template {
    width: 380px;
}
.tabtinh{
    padding:10px 0px;
} 
#template ol {
    float: left;
    margin: 0 0 0 30px;
    padding: 10px 10px 0 10px;
}

#template:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#template .k-button {
    float: left;
    clear: left;
    margin: 5px 0 5px 12px;
}
input.k-textbox{
    width:100%;
}
#BtnAddNew{
    float:right;
}
#grdRole tbody tr td:first-child, #grdUser tbody tr td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30px;
}
#grdAction table tbody tr td:first-child{
    text-align:center;
}
#grdAction table tbody tr td input {
    width: 16px;
    height: 20px;
}
.heading {
    border: none;
    border-radius: 0px;
    height: 46px;
    background: rgb(1, 96, 152);
    margin-bottom: 10px;
    box-shadow: 0px 3px 8px 0px #847a7a;
}
.heading h2.text-title{
    color:#FFF;
    padding-top:10px;
}
input#mastercheckbox {
    width: 14px;
    height: 14px;
}
#windowConfirm{
    text-align:center;
}
#windowConfirm.checkconfirm{
    margin:15px 0px;
}
#WindowAddUserId label{
    display:block;
    float:left;
    width:100%;
    margin:12px 0px;
}
#WindowAddUserId button{
    float:right;
}
#WindowAddUserId label span {
    position: relative;
    top: -12px;
    left: 10px;
}
/*alert*/
#windowPopup {
    text-align: center;
}
#tlAllPopup {
    width: 100%;
    font-size: 16px;
}

#puBottom {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}
#WindowAddNew{
    padding:0;
}
.k-editor, #txtSapxep {
    width: 100%;
    height: auto;
    min-height: 34px;    
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#txtSapxep {
    margin:10px 0px;
    padding:0px 10px;
    height:30px;
    width: 100px;
}
/*.k-window-action {

}*/
#BTN1 {
    width: 50px;
}

#BTN2 {
    width: 50px;
}

.clSpan {
    float: left;
    width: 100%;
}

#ErrorMessage {
    float: left;
    padding: 10px;
    color: red;
    font-size: 13px;
    display: block;
    width: 100%;
}
/*ảnh slide show gird*/
.customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-left: 5px;
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 3px;
}
.form-save {
    position: relative;
    display: block;
    float: right;
    bottom: 39px;
    right: 80px;
}
#text-messemgerfoTieuDeSeo, #text-messemgerfoMotaSeo, #text-messemgerfoTukhoaSeo {
    text-align: left;
    color: #1460b1;
    font-size: 14px;
}
#text-messemgerfoTieuDeSeo span, #text-messemgerfoMotaSeo span, #text-messemgerfoTukhoaSeo span{
    color: #dd0404;
}
.monney-giacu, .monney-giamoi{
    color:#dd0404;
    font-size:14px;
    font-weight:bold;
}
#WindowAddDanhMuc {
    overflow: hidden;
}