body {
    margin:0;
    padding:0;
}
.header {
    background: #ececec;
    position: relative;
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border-bottom: 15px solid#e4e4e4;
}
    .header .info-contact ul {
        float: right;
        margin: 0px;
        padding: 15px 20px;
    }
    .header .info-contact ul li {
        float: left;
        display: block;
        border-right: 1px dashed #fff;
        list-style: none;
        width: 200px;
    }
    .header .info-contact ul  li b{
        margin:0px;
        display:inline-block;
        width:100%;
    }
    .header .img-fluid {
        float: left;
        border-right: 1px dashed #fff;
        padding-right: 20px;
    }
.header h2 {
    padding: 15px 0px;
    color: #636363;
    font-size: 30px;
    line-height: 30px;
}
#themAnh, #xoaAnh {
    width: 1.5em;
    height: 1.5em;
}
#ErrorMessage {
    color: #dc3545;
}
